aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
amqp
annotated-types
anthropic
anyio
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asn1crypto
asttokens
async-lru
attrs
azure-ai-vision-imageanalysis
azure-cognitiveservices-vision-computervision
azure-common
azure-core
babel
backoff
beautifulsoup4
bidict
billiard
bleach
blinker
blis
boto3
botocore
boxdetect
brotli
browser-use
cachetools
catalogue
celery
certifi
cffi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
colorama
comm
confection
contourpy
crispy-bootstrap5
cryptography
cssselect2
cycler
cymem
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
distro
Django
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-import-export
django-sslserver
djangorestframework
djangorestframework-simplejwt
drf-spectacular
drf-yasg
et_xmlfile
executing
facenet-pytorch
faiss-cpu
fastapi
fastjsonschema
ffmpeg-python
filelock
filetype
Flask
Flask-SocketIO
fonttools
fqdn
freetype-py
frozenlist
fsspec
future
fuzzywuzzy
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
gunicorn
h11
h2
hpack
html5lib
httpcore
httpx
httpx-sse
hyperframe
idna
imutils
inflection
iniconfig
ipykernel
ipython
ipywidgets
isodate
isoduration
itsdangerous
jedi
Jinja2
jiter
jmespath
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
kombu
langchain
langchain-anthropic
langchain-aws
langchain-community
langchain-core
langchain-deepseek
langchain-google-genai
langchain-ollama
langchain-openai
langchain-text-splitters
langcodes
langsmith
language_data
lmdb
lxml
marisa-trie
markdown-it-py
markdownify
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mem0ai
mistune
monotonic
mpmath
msrest
multidict
munkres
murmurhash
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
oauthlib
ollama
openai
opencv-python
openpyxl
opt-einsum
orjson
oscrypto
outcome
overrides
packaging
pandas
pandocfilters
parso
patchright
pdf2image
pdfminer.six
pdfplumber
phonenumbers
pikepdf
pillow
platformdirs
playwright
pluggy
polars
portalocker
posthog
preshed
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycairo
pyclipper
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
pydyf
pyee
pygame
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMuPDF
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
pyphen
pypng
PySocks
pytesseract
pytest
python-bidi
python-dateutil
python-decouple
python-docx
python-dotenv
python-engineio
python-json-logger
python-socketio
pyttsx3
pytweening
pytz
PyYAML
pyzmq
qdrant-client
qrcode
RapidFuzz
redis
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rlPyCairo
rpds-py
rsa
s3transfer
scikit-learn
scipy
screeninfo
seaborn
selenium
Send2Trash
shapely
shellingham
simple-websocket
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
stack-data
starlette
streamlit
streamlit-drawable-canvas
svglib
sympy
tablib
tabula-py
tabulate
tenacity
termcolor
terminado
thefuzz
thinc
threadpoolctl
tifffile
tiktoken
tinycss2
tinyhtml5
toml
tomli
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
twilio
typer
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
ultralytics
ultralytics-thop
unicodedata2
uri-template
uritemplate
uritools
urllib3
uuid7
uvicorn
vine
wasabi
watchdog
wcwidth
weasel
weasyprint
webcolors
webdriver-manager
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
wsproto
xhtml2pdf
XlsxWriter
yarl
zopfli
zstandard